
# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python
env/
venv/
*.env
*.ini
*.log

# VSCode
.vscode/

# IDE files
.idea/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

# Jupyter notebook checkpoints
.ipynb_checkpoints

# Dependencies
*.egg-info/
dist/
build/
