[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
python-dotenv = "*"
jupyterlab = "*"
ipywidgets = "*"
requests = "*"
numpy = "*"
pandas = "*"
scipy = "*"
gensim = "*"
torch = "*"
transformers = "*"
tqdm = "*"
openai = "*"
gradio = "*"
langchain = "*"
tiktoken = "*"
faiss-cpu = "*"
langchain-openai = "*"
langchain-experimental = "*"
langchain-chroma = "*"
docarray = "*"
datasets = "*"
matplotlib = "*"
google-generativeai = "*"
anthropic = "*"
scikit-learn = "*"
unstructured = "*"
chromadb = "*"
plotly = "*"
jupyter-dash = "*"
beautifulsoup4 = "*"
pydub = "*"
modal = "*"
ollama = "*"
accelerate = "*"
sentencepiece = "*"
bitsandbytes = "*"
psutil = "*"
speedtest-cli = "*"
sentence-transformers = "*"
feedparser = "*"

[dev-packages]
mypy = "*"
isort = "*"
mccabe = "*"
pytest = "*"
pyflakes = "*"
coverage = "*"
pydocstyle = "*"
pycodestyle = "*"

[requires]
python_version = "3.12"
