[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
environs = "*"
python-dotenv = "*"
jupyterlab = "*"
ipywidgets = "*"
requests = "*"
numpy = "*"
pandas = "*"
scipy = "*"
gensim = "*"
torch = "*"
transformers = "*"
tqdm = "*"
openai = "*"
gradio = "*"
faiss-cpu = "*"
langchain = "*"
langchain-core = "*"
langchain-openai = "*"
langchain-chroma = "*"
langchain-community = "*"
langchain-text-splitters = "*"
datasets = "3.6.0"
matplotlib = "*"
google-generativeai = "*"
anthropic = "*"
chromadb = "*"
plotly = "*"
jupyter-dash = "*"
beautifulsoup4 = "*"
pydub = "*"
modal = "*"
ollama = "*"
psutil = "*"
speedtest-cli = "*"
sentence-transformers = "*"
feedparser = "*"

[dev-packages]
mypy = "*"
isort = "*"
mccabe = "*"
pytest = "*"
pyflakes = "*"
coverage = "*"
pydocstyle = "*"
pycodestyle = "*"

[requires]
python_version = "3.11"
