annotated-types==0.7.0
anyio==4.11.0
asttokens==3.0.0
attrs==25.4.0
beautifulsoup4==4.14.2
bs4==0.0.2
certifi==2025.10.5
cffi==2.0.0
charset-normalizer==3.4.4
colorama==0.4.6
comm==0.2.3
debugpy==1.8.17
decorator==5.2.1
distro==1.9.0
dotenv==0.9.9
executing==2.2.1
h11==0.16.0
httpcore==1.0.9
httpx==0.28.1
idna==3.11
ipython==9.6.0
ipython-pygments-lexers==1.1.1
jedi==0.19.2
jiter==0.11.1
jupyter-client==8.6.3
jupyter-core==5.9.1
matplotlib-inline==0.2.1
nest-asyncio==1.6.0
openai==2.7.1
outcome==1.3.0.post0
packaging==25.0
parso==0.8.5
platformdirs==4.5.0
prompt-toolkit==3.0.52
psutil==7.1.2
pure-eval==0.2.3
pycparser==2.23
pydantic==2.12.3
pydantic-core==2.41.4
pygments==2.19.2
pysocks==1.7.1
python-dateutil==2.9.0.post0
python-dotenv==1.2.1
pyzmq==27.1.0
requests==2.32.5
selenium==4.38.0
six==1.17.0
sniffio==1.3.1
sortedcontainers==2.4.0
soupsieve==2.8
stack-data==0.6.3
tornado==6.5.2
tqdm==4.67.1
traitlets==5.14.3
trio==0.32.0
trio-websocket==0.12.2
typing-extensions==4.15.0
typing-inspection==0.4.2
urllib3==2.5.0
wcwidth==0.2.14
websocket-client==1.9.0
wsproto==1.2.0
