# You can have your API keys from OpenAI, OpenRouter, Gemini, etc.,
# Remember not to add your API keys in this file, but in the .env file
# Ensure .env file is not tracked by git

OPENROUTER_API_KEY=sk-or-xxxxx
# Gemini (Google AI): https://aistudio.google.com/api-keys
GOOGLE_API_KEY=AIzaxxxxx
